Попробуем найти клонов

In [1]:
import numpy as np
import pandas as pd

In [13]:
df = pd.read_csv('PointzAggregator-AirlinesData_3.csv', index_col=0, sep=';')

In [16]:
df['name_id'] = df['firstName_3'] + ' ' + df['lastName_3']

In [17]:
grp = df.groupby(['cardNumber_3', 'name_id'], as_index=False).count()

In [18]:
grp = grp.drop(columns=['firstName_3', 'lastName_3', 'bonusProgramm_3', 'flightCode_3', 'flightDate_3', 'flightDeparture_3', 'flightArrival_3', 'flightFare_3'])
grp

       cardNumber_3                  name_id
0      DT 100115031  anzhelika vereshchagina
1      DT 100187673         tamerlan fetisov
2      DT 100252671          aidar evdokimov
3       DT 10031788           al'bina utkina
4      DT 100345931          ignat d'yakonov
...             ...                      ...
56811  SU 999763553            marina utkina
56812  SU 999936032           danil gorokhov
56813  SU 999952967       artem vereshchagin
56814  SU 999980484           miron malakhov
56815   SU 99998757          milana rozanova

[56816 rows x 2 columns]

In [20]:
df_m = pd.DataFrame()
df_m['program_short'] = grp['cardNumber_3'].apply(lambda x: str(x).split(' ')[0])
df_m['number'] = grp['cardNumber_3'].apply(lambda x: str(x).split(' ')[1])
df_m['name_id'] = grp['name_id']
df_m

      program_short     number                  name_id
0                DT  100115031  anzhelika vereshchagina
1                DT  100187673         tamerlan fetisov
2                DT  100252671          aidar evdokimov
3                DT   10031788           al'bina utkina
4                DT  100345931          ignat d'yakonov
...             ...        ...                      ...
56811            SU  999763553            marina utkina
56812            SU  999936032           danil gorokhov
56813            SU  999952967       artem vereshchagin
56814            SU  999980484           miron malakhov
56815            SU   99998757          milana rozanova

[56816 rows x 3 columns]

In [38]:
mask = df_m.groupby(['number'], as_index=False).count()['name_id'] > 1
list(mask).index(True)

9778

Подозреваемые

In [52]:
df_m.iloc[9778]

program_short                     DT
number                     732657209
name_id          vladislava ignatova
Name: 9778, dtype: object

In [50]:
list(df_m['number'].duplicated()).index(True)

45133

In [53]:
df_m.iloc[45133]

program_short               SU
number               255934506
name_id          daniil glebov
Name: 45133, dtype: object